/**********************************************FONTS*/

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap:100,200,300,400,500,600,700');

/**********************************************GENERAL START*/

.like-counter {
  color: #000;
  text-decoration: none;
  margin-right: 5px;
}

.liked {
  font-weight: bold;
}

#register-welcome,
#login-welcome {
    text-align: center;
    position: absolute;
    width: 16em;
    top: 50%;
    left: 50%;
    margin-left: -8em;
    margin-top: -15px;
    color: #383838;
    font-size: 2em;
    z-index: 1;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

form>input {
    color: #333333;
}

label {
    font-size: 1rem;
    color: #333333;
}

hr {
    width: 4em;
    background-color: #333333;
}

.profile-image {
    width: 100%;
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
    width: 50%;
    text-align: center;
}

select {
    background-color: rgba(255,255,255,0);
    color: #333333;
    width: 100%;
    padding: 5px;
    border: 1px solid #47aad9;
    border-radius: 2px;
    height: 3rem;
}

.header-font {
    font-family: 'Unica One', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.text-font {
    font-family: "Railway", sans-serif;
    text-align: center;
}

.text-font>h4,
h5,
h6 {
    color: #47aad9;
    clear: both;
}

.home-background-color {
    position: relative;
    height: 100vh;
    background-image: 
        linear-gradient(
            #47aad9, #fff3d9
        );
}

.general-background-color {
    position: absolute;
    bottom: 0em;
    top: 0em;
    width: 100%;
    background-color: #fff3d9;
    z-index: 0;
}

.input-field label {
    color: #47aad9;
    top: -0.5em;
}

.user-register-button:hover {
    background-color: #47aad9;
}

.buttons:hover {
    background-color: #153240;
}

.custom-button {
    text-transform: uppercase;
    padding: .5em;
    border-radius: 3px;
    margin: 1.5em;
}

.save-term-button {
    color: #e87285;
    font-size: 2em;
    height: 2em;
    line-height: 2.5em;
}

.save-term-button:hover {
    color:#ff0029;
}

.term-category-button {
    position: relative;
    width: 100%;
    height: 2.5em;
    margin: 10px 0;
    background-color: #2e6e8d;
    color: #fafafa;
    line-height: 2.5em;
    text-align: justify;
    padding-left: 10px;
    border-bottom: 2px solid #fafafa;
    border-top: 2px solid #fafafa;
    box-shadow: 0px 0px 4px #333333;
}

.term-category-button:hover {
    border-bottom: 2px solid#2e6e8d;
    border-top: 2px solid #2e6e8d;
}

.term-category-button-icon {
    position: absolute;
    color: #fafafa;
    font-size: .5em;
    top: 50%;
    margin-top: -3.5px;
    right: 1em;
}

nav {
    position: relative;
    left: 50%;
    margin-left: -47%;
    top: 1em;
    box-shadow: 0px 0px 4px #333333;
    width: 94%;
    height: 3em;
    background-color: #fafafa;
    line-height: normal;
}

nav .button-collapse {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: -.5em;
    z-index: 2;
}

nav a {
    color: #153240;
}

/**********************************************GENERAL END*/

/**********************************************MOBILE START*/

/*******************************GENERAL*/

nav, 
nav .nav-wrapper i, 
nav a.button-collapse, 
nav a.button-collapse i {
    height: 56px;
    line-height: 48px;
}

.disable-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

.enable-vertical-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.header-icon {
    z-index: 1;
    position: absolute;
    font-size: 1.5em;
    line-height: 1.5em;
    right: .5em;
    top: 50%;
    margin-top: -15px;
    color: #333333;
}

.side-nav {
    background-color: #47aad9;
}

.side-nav li {
    padding: 8px;
}

#nav-social-icons {
    position: absolute;
    top: 78%;
}

#sign-out-icon {
    padding-left: 1em;
}

#sign-out-icon:hover {
    color: #47aad9;
}

#like-text {
    padding-left: 10%;
}

.like-counter i:hover {
    color: #47aad9;
}

.save-text {
    padding-left: 12%;
}

nav ul a {
    color: #153240;
    font-size: 2em;
}

.side-nav li>a {
    color: #fff3d9;
    padding: 0;
    font-family: "Railway", sans-serif;
}

.side-nav li>a>i {
    color: #fff3d9;
    padding-left: 24px;
    font-size: 1.75em;
}

.border {
    border: 2px solid #333333;
}

.btn {
    transition: none;
    letter-spacing: 0px;
}

.row {
    margin-bottom: 0;
}

.page-header {
    text-align: center;
    position: absolute;
    width: 20em;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    margin-top: -9.5px;
    color: #383838;
    font-size: 1em;
    z-index: 1;
}

.header-container {
    position: relative;
    margin: 1em auto;
    box-shadow: 0px 0px 4px #333333;
    width: 98%;
    height: 3em;
    background-color: #fafafa;
}

.footer-container {
    color: #153240;
    position: fixed;
    left: 50%;
    margin-left: -49%;
    bottom: 1.5em;
    text-align: center;
    box-shadow: 0px 0px 4px #333333;
    width: 98%;
    height: 3em;
    background-color: #fafafa;
}

.container {
    position: absolute;
    left: 50%;
    margin-left: -45%;
    bottom: 6.5em;
    top: 4em;
    overflow-x: hidden;
    overflow-y: auto;
}

.buttons-container {
    position: absolute;
    width: 20em;
    left: 50%;
    margin-left: -10em;
    bottom: 1em;
}

.buttons-container .btn {
    width: 100%;
    padding: 0 8px;
    text-align: center;
}

.buttons {
    margin: 0;
    background-color: #47aad9;
    color: #fafafa;
}

.form-box {
    margin-top: 2em;
}

.form-box-login-register {
    margin-top: 5em;
}

#graduation-cap-icon {
    position: absolute;
    font-size: 40em;
    top: 0rem;
    color: #333333;
    transform: rotate(-17deg);
    -webkit-transform: rotate(-17deg);
    opacity: 0.09;
    z-index: -1;
    border: 10px solid #153240;
}

.footer-info {
    height: 2em;
    line-height: 3em;
    font-family: "Railway", sans-serif;
    color: #153240;
    margin: 0;
    text-align: right;
}

.social-icons {
    height: 2.5em;
    line-height: 2.5em;
    color: #153240;
    font-size: 2em;
    vertical-align: middle;
}

.social-icons:hover {
    color: #47aad9;
}

/*******************************HOME SCREEN*/

#home-title {
    text-align: center;
    position: absolute;
    width: 10.2em;
    bottom: 13em;
    left: 50%;
    margin-left: -5.1em;
    color: #fafafa;
    font-size: 2em;
}

#home-text-sub-heading {
    position: absolute;
    width: 17em;
    bottom: 10em;
    left: 50%;
    margin-left: -8.5em;
    text-align: center;
    color: #153240;
    font-size: 1.15em;
}

#home-text-sign-in {
    position: absolute;
    width: 15em;
    bottom: 3.5em;
    left: 50%;
    margin-left: -7.5em;
    color: #153240;
}

.user-register-button {
    position: absolute;
    width: 16em;
    bottom: 7em;
    left: 50%;
    margin-left: -8em;
    background-color: #153240;
    color: #fafafa;
    border-radius: 10px;
}

.copyright-info {
    position: absolute;
    width: 15em;
    bottom: 0;
    left: 50%;
    margin-left: -7.5em;
    color: #153240;
    font-size: .65em;
}

.nav-copyright-info {
    position: absolute;
    width: 15em;
    bottom: 5em;
    left: 50%;
    margin-left: -7.5em;
    color: #153240;
    font-size: .65em;
}

#user-welcome {
    font-size: 2em;
    text-align: center;
}

/*******************************MEDIA QUERIES*/

@media only screen and (min-width: 768px) {
    #graduation-cap-icon {
        font-size: 68em;
    }

    .content-section {
        bottom: 8em;
    }

    #home-title {
        bottom: 15em;
        font-size: 3em;
    }

    .user-register-button {
        width: 24em;
        height: 3.5em;
        bottom: 10em;
        margin-left: -12em;
    }

    .user-register-button>span {
        font-size: 1.5em;
        line-height: 2.25em;
    }

    #home-text-sign-in {
        bottom: 5em;
        font-size: 16px;
    }

    .copyright-info {
        bottom: 1.5em;
        font-size: 0.75em;
    }

    .buttons-container {
        width: 30em;
        margin-left: -15em;
    }

    .buttons-container .btn {
        height: 3.5em;
        line-height: 3.5em;
        font-size: initial;
    }

    .header-container,
    .footer-container {
        height: 5rem;
    }

    .page-header {
        font-size: 2rem;
        margin-top: -15px;
    }

    .header-icon {
        font-size: 2.5em;
        line-height: .9em;
        right: .5em;
    }

    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        line-height: 1.7em;
        font-size: 1.4em;
        padding-left: 4px;
    }

    .custom-button {
        font-size: 1.25em;
    }

    .side-nav {
        width: 400px;
    }

    .side-nav li {
        padding: 16px;
    }

    .side-nav li>a>i {
        padding-right: 24px;
    }

    .form-box {
        margin-top: 4em;
    }

    .text-font>h4,
    h5,
    h6,
    #user-welcome {
        font-size: 3em;
    }

    hr {
        width: 8em;
    }

    label,
    .input-field.col label {
        font-size: 1.25rem;
    }

    .side-nav li>a,
    .text-font>p,
    input[type=text]:not(.browser-default),
    input[type=search]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=password]:not(.browser-default),
    textarea,
    .text-font .row p,
    select.browser-default,
    .term-category-button,
    #home-text-sub-heading {
        font-size: 1.5rem;
    }

    p>strong {
        font-size: 2em;
    }

    .text-font .row p i {
        font-size: 1.75em;
    }
}

/**********************************************MOBILE END*/

/**********************************************DESKTOP START*/

/*********** Dropdown navigation start */

.navbar {
    border: 1px solid rgba(1,1,1,0.1);
    border-radius: 3px;
    margin-top: .75em;
    overflow: hidden;
    background-color: #fafafa;
    font-family: "Railway", sans-serif;
}

.navbar a {
    float: left;
    font-size: 1.15em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1.15em;
    border: none;
    outline: none;
    color: #153240;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #fafafa;
}

.dropdown-contents {
    display: none;
    position: absolute;
    background-color: #fafafa;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Railway", sans-serif;
}

.dropdown-contents a {
    float: none;
    color: #153240;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contents a:hover {
    background-color: #ffe6b3;
}

.dropdown:hover .dropdown-contents {
    display: block;
}

/*********** Dropdown navigation end */

.custom-container {
    width: 100%;
}

.desktop-content-icon {
    font-size: 3em;
    margin: .5em 0;
}

/*******************************MEDIA QUERIES*/

@media only screen and (min-width: 1024px) {
    .user-register-button>span {
        line-height: 2.5em;
    }

    .custom-button {
        margin: 0;
        font-size: 1.1em;
    }

    .text-font>h4,
    h5, 
    h6, 
    #user-welcome {
        font-size: 2em;
    }

    #user-welcome {
        display: inline-block;
    }

    p[class="text-font"] {
        width: 100%;
    }

    #graduation-cap-icon {
        color: #ffe6b3;
        font-size: 100em;
        top: -10rem;
        left: 3rem;
        opacity: 0.5;
        border: 10px solid #ffe6b3;
    }

    .buttons-container {
        bottom: 8em;
        width: auto;
        margin-left: 0;
        left: 0;
    }

    .buttons {
        margin-left: 2em; 
        background-color: rgba(0,0,0,0);
        border: 1px solid #47aad9;
        color: #47aad9;
    }

    .buttons:hover {
        background-color: #47aad9;
        color: #fafafa;
    }

    .container {
        max-width: 1800px;
        bottom: 13.5em;
        top: 7em;
    }

    .container .row {
        margin-bottom: 1.75rem;
    }

    .form-box {
        margin-top: 0;
        border-right: 1px solid #333333;
    }

    hr {
        width: 100%;
    }

    .further-readings {
        margin: 0;
        margin-left: 1em;
    }

    #category-div {
        text-align: center;
    }

    .page-header {
        text-align: left;
        margin-left: 0;
        margin-top: 0;
        left: 0;
        top: 0;
        position: relative;
        height: 2.5em;
        line-height: 2.5em;
    }
}

@media only screen and (min-width: 1600px) {
    #graduation-cap-icon {
        font-size: 95em;
    }
}

@media only screen and (min-width: 2150px) {
    #graduation-cap-icon {
        font-size: 100em;
        top: -10rem;
        left: 4rem;
    }
}



