{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>New Category</h2>

    <form action="{{ url_for('save_category') }}" method="post">
        <label for="category">Category Name:</label><br>
        <input type="text" id="category" name="category_name"><br> <!--how to run through current categories to avoid duplication? for loop and check value attr.?-->
        <button type="submit">Add Category</button>
    </form>
    <button><a href= "{{ url_for('get_categories') }}">All Categories</a></button>
</div>

{% endblock %}