{% extends "profile.html" %}
{% block profile_content %}

    <div class="header-container">
        <h2 class="header-font page-header">All terms</h2>
        <i class="fa fa-list-ol header-icon" aria-hidden="true"></i>
    </div>
    <div class="container content-section form-box">
        <form action="{{ url_for('find_term') }}" method="post">
            <label class="text-font" for="term_search">Search Terms</label>
            <input type="search" name="term_search" id="term_search" required>
        </form>
        {% for term in terms %}
            
            <a class="text-font" href="{{ url_for('show_term', term_id=term._id) }}">
                <div class="term-category-button">
                    {{ term.term }}
                    <i class="fa fa-chevron-right term-category-button-icon" aria-hidden="true"></i>
                </div>
            </a>
            
        {% endfor %}
    </div>
    <div class="buttons-container">
        <div class="row">
            <a class="waves-effect waves-light btn buttons text-font" href= "{{ url_for('profile', username=username) }}">Go back</a>
            <a class="waves-effect waves-light btn buttons text-font" href= "{{ url_for('new_term') }}">New Term</a>
        </div>
    </div>


{% endblock %}