{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>Categories:</h2>
    <form action="{{ url_for('find_category') }}" method="post">
        <label for="category_search">Search Categories</label>
        <input type="search" name="category_search" id="category_search">
        <input type="submit" value="Search">
    </form>
    {% for cat in categories %}
        <div>
            <h4><a href="{{ url_for('show_category', category_id=cat._id) }}">{{ cat.category_name }}</a></h4>
            <hr>
        </div>
    {% endfor %}
    <button><a href= "{{ url_for('add_category') }}">New Category</a></button>
    <button><a href= "{{ url_for('get_terms', username=username) }}">Go back</a></button>
</div>


{% endblock %}