{% extends "base.html" %}
{% block content %}

<div class="container">
    <div>
        <h2>{{ term.term }}</h2>
        <hr>
        <h3>Category</h3>
        <p>{{ term.category_name }}</p>
        <hr>
        <h3>Definition</h3>
        <p>{{ term.term_definition }}</p>
        <hr>
        <h3>Noob Definition</h3>
        <p>{{ term.noob_definition }}</p>
        <hr>
        <h3>Term Examples</h3>
        <p>{{ term.term_examples }}</p>
        <hr>
    </div>
    <p><strong>!! Are you sure you'd like to delete this term? !!</strong></p>
    <button><a href= "{{ url_for('show_term', term_id=term._id) }}">Cancel</a></button>
    <button><a href= "{{ url_for('delete_term', term_id=term._id) }}">Delete</a></button>
</div>


{% endblock %}