{% extends "profile.html" %}
{% block profile_content %}

<div class="general-background-color border disable-scroll">
    <i id="graduation-cap-icon" class="fa fa-graduation-cap" aria-hidden="true"></i>
    <div class="header-container">
        <h2 class="header-font page-header">{{ term.term }}</h2>
        <i class="fa fa-trash header-icon" aria-hidden="true"></i>
    </div>
    <div class="container content-section form-box">
        <div class="text-font">
            <p class="text-font"><strong>Are you sure you'd like to delete this term?</strong></p>
            <h5>Definition</h5>
            <hr>
            <p>{{ term.term_definition }}</p>
            <h5>Noob Definition</h5>
            <hr>
            <p>{{ term.noob_definition }}</p>
            <h5>Term Examples</h5>
            <hr>
            <p>{{ term.term_examples }}</p>
            <h5>Category</h5>
            <hr>
            <p>{{ term.category_name }}</p>
        </div>
        <div class="buttons-container">
            <div class="row">
                <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('show_term', term_id=term._id) }}">No</a>
                <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('delete_term', term_id=term._id) }}">Yes</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}