{% extends "profile.html" %}
{% block profile_content %}

    <div class="header-container">
        <h2 class="header-font page-header">Edit Profile</h2>
        <i class="fa fa-pencil header-icon" aria-hidden="true"></i>
    </div>
    <div class="row form-box-login-register text-font">
        <form class="col s12" action="{{ url_for('save_profile', user_id=user._id) }}" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" type="hidden" id="email" name="email" value="{{ user.email }}"><br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" type="text" id="username" name="username" placeholder="{{ user.username }}" required><br>
                    <label for="username" class="active">Username:</label><br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input class="validate" type="password" id="password" name="password" required><br>
                    <label for="password" class="active">Password:</label><br>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="pic" type="file" name="pic" accept="image/*">
                    <label for="pic">Profile image</label>
                </div>
            </div>
    </div>
    <div class="buttons-container">
            <div class="row">
                <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('profile', username=user.username) }}">Cancel</a>
                <a class="waves-effect waves-light btn buttons text-font"><input type="reset" value="Clear"></a>
                <a class="waves-effect waves-light btn buttons text-font"><input type="submit" value="Save"></a>
            </div>
        </div>
    </form>



{% endblock %}