{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Welcome to your further readings list</h1>
    <form action="{{ url_for('find_saved') }}" method="post">
        <label for="saved_search">Search Further Readings</label>
        <input type="search" name="saved_search" id="saved_search">
        <input type="submit" value="Search">
    </form>
    <h2>Terms:</h2>
    {% for term in further_readings %}
        <div>
            {% if not term %}
                <p>Nothing saved yet! Get to it!</p>
            {% else %}
                <p><a href="{{ url_for('show_term', term_id=term._id) }}">{{ term.term }}</a></p>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    <button><a href= "{{ url_for('get_terms') }}">Go Back</a></button>
</div>

{% endblock %}