{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>{{ user.username }}'s Terms List</h1>
    <form action="{{ url_for('find_term') }}" method="post">
        <label for="term_search">Search Terms</label>
        <input type="search" name="term_search" id="term_search">
        <input type="submit" value="Search">
    </form>
    <h2>Terms:</h2>
    {% for term in terms %}
        <div>
            <p><a href="{{ url_for('show_term', term_id=term._id) }}">{{ term.term }}</a></p>
            <hr>
        </div>
    {% endfor %}
    <button><a href= "{{ url_for('profile', username=user.username) }}">Go back</a></button>
    <button><a href= "{{ url_for('new_term') }}">New Term</a></button>
    <button><a href= "{{ url_for('get_categories') }}">Categories</a></button>
    <button><a href= "{{ url_for('saved_terms') }}">Further Readings</a></button>
    <button><a href= "{{ url_for('sign_out') }}">Sign Out</a></button>
    <button><a href= "{{ url_for('delete_profile_request', user_id=user._id) }}">Delete Profile</a></button>
</div>


{% endblock %}