{% extends "all_terms.html" %}
{% block all_terms_content %}

    <div class="header-container">
        <h2 class="header-font page-header hide-on-large-only">Your terms</h2>
        <i class="fa fa-list-ol header-icon hide-on-large-only" aria-hidden="true"></i>

        {% endblock %}
        {% block all_terms_content_2 %}

    </div>

    <div class="row">
        <div class="col s12 l8 offset-l1 offset-xl1 container form-box">
            <i class="fa fa-list-ol desktop-content-icon hide-on-med-and-down" aria-hidden="true"></i>

            <div class="row">
                <div class="col s12 l10">
                    {% for term in terms %}

                        <a class="text-font" href="{{ url_for('show_term', term_id=term._id) }}">
                            <div class="term-category-button">
                                {{ term.term }}
                                <i class="fa fa-chevron-right term-category-button-icon" aria-hidden="true"></i>
                            </div>
                        </a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6 offset-l1 buttons-container">
            <div class="row">
                <div class="col s4 l4">
                    <a class="waves-effect waves-light btn buttons text-font" href= "{{ url_for('get_all_terms', username=user.username) }}">Back</a>
                </div>
                <div class="col s4 l4">
                    <a class="waves-effect waves-light btn buttons text-font" href= "{{ url_for('new_term') }}">New</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}