{% extends "all_terms.html" %}
{% block all_terms_content %}

    <div class="header-container">
        <h2 class="header-font page-header hide-on-large-only">New term</h2>
        <i class="fa fa-file-text-o header-icon hide-on-large-only" aria-hidden="true"></i>
        
        {% endblock %}
        {% block all_terms_content_2 %}

    </div>

    <div class="row">
        <div class="col s12 l8 offset-l1 offset-xl1 container form-box">

            <i class="fa fa-file-text-o desktop-content-icon hide-on-med-and-down" aria-hidden="true"></i>

            <div class="row">
                <div class="col s12 l10">
                    <form class="text-font" action="{{ url_for('add_term') }}" method="post">
                        <input type="hidden" id="author" name="author" value="{{ username }}">
                        <input type="hidden" id="_id" name="_id" value="{{ new_id }}">
                        <input type="hidden" id="saved_by" name="saved_by" value="">

                        <div class="row">
                            <div class="col s12 l7">
                                <select name="category_name" id="category" class="browser-default" required>
                                    <option value="" disabled selected>Saved Categories</option>
                                {% for cat in categories %}
                                    <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 l5">
                                <div class="text-font custom-button">
                                    <a class="buttons custom-button" href= "{{ url_for('add_category') }}">New Category</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-field">
                            <label for="term">Term Name:</label><br>
                            <input type="text" id="term" name="term" data-length="28" required><br>
                        </div>
                        <div class="input-field">
                            <label for="term_definition">Term Definition:</label><br>
                            <textarea id="term_definition" name="term_definition" required></textarea><br>
                        </div>
                        <div class="input-field">
                            <label for="noob_definition">Noob Definition:</label><br>
                            <textarea id="noob_definition" name="noob_definition" required></textarea><br>
                        </div>
                        <div class="input-field">
                            <label for="term_examples">Term Examples:</label><br>
                            <textarea id="term_examples" name="term_examples" rows="4" required></textarea><br> <!--Need to treat links as such. How can I achieve this? -->
                        </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6 offset-l1 buttons-container">
            <div class="row">
                <div class="col s4 l4">
                    <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('get_all_terms', username=username) }}">Cancel</a>
                </div>
                <div class="col s4 l4">
                    <a class="waves-effect waves-light btn buttons text-font"><input type="reset" value="Clear"></a>
                </div>
                <div class="col s4 l4">
                    <a class="waves-effect waves-light btn buttons text-font"><input type="submit" value="Add"></a>
                </div>
            </div>
        </div>
    </div>
    </form>


{% endblock %}