{% extends "all_terms.html" %}
{% block all_terms_content %}

    <div class="header-container">
        <h2 class="header-font page-header hide-on-large-only">{{ term.term }}</h2>
        <i class="fa fa-quote-right header-icon hide-on-large-only" aria-hidden="true"></i>

        {% endblock %}
        {% block all_terms_content_2 %}

    </div>

    <div class="row">
        <div class="col s12 l8 offset-l1 container form-box">

            <div class="row">
                <div class="col l1">
                    <i class="fa fa-quote-right desktop-content-icon hide-on-med-and-down" aria-hidden="true"></i>
                </div>
                <div class="col l6">
                    <h2 class="header-font desktop-header hide-on-med-and-down">{{ term.term }}</h2>
                </div>
                {% if number_of_likes > 0 %}
                    <div class="col l2 offset-l1">
                        <i class="fa fa-thumbs-o-up desktop-content-icon hide-on-med-and-down tooltipped" data-position="bottom" data-tooltip="Number of grateful readers" aria-hidden="true">
                            <span> {{ number_of_likes }}</span>
                        </i>
                    </div>
                {% endif %}
            </div>

            
            <div class="row">
                <div class="col s12 l10">
                    <div class="text-font">
                        <h5>Definition</h5>
                        <hr>
                        <p>{{ term.term_definition }}</p>
                        <div class="row">
                            <div id="like-text" class="col s9 offset-s1">
                                <h5>Noob Definition</h5>
                                <hr>
                            </div>
                            {% if already_liked %}
                                <div class="col s1">
                                    <a href="{{ url_for('dislike', term_id=term._id) }}" class="like-counter tooltipped" data-position="bottom" data-tooltip="Think this definition is no longer useful to beginners?">
                                        <i class="fa fa-thumbs-o-down social-icons" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% else %}
                                <div class="col s1">
                                    <a href="{{ url_for('like', term_id=term._id) }}" class="like-counter tooltipped" data-position="bottom" data-tooltip="Think this definition is useful to beginners?">
                                        <i class="fa fa-thumbs-o-up social-icons" aria-hidden="true"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <p>{{ term.noob_definition }}</p>
                        <h5>Examples</h5>
                        <hr>
                        <p>{{ term.term_examples }}</p>
                        <div class="row">
                            <div class="further-readings text-font">
                                {% if is_in_database %}
                                    <div class="col s9 offset-s1">
                                        <p class="save-text">Remove From Further Readings: </p>
                                    </div>
                                    <div class="col s1">
                                        <a href="{{ url_for('remove_from_saved', term_id=term._id) }}"><i class="fa fa-times save-term-button" aria-hidden="true"></i></a>
                                    </div>
                                {% else %}
                                    <div class="col s9 offset-s1">
                                        <p class="save-text">Add To Further Readings: </p>
                                    </div>
                                    <div class="col s1">
                                        <a href="{{ url_for('add_to_saved', term_id=term._id) }}"><i class="fa fa-flag save-term-button" aria-hidden="true"></i></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <h6>Category</h6>
                        <hr>
                        <p>{{ term.category_name }}</p>
                        <h6>Author</h6>
                        <hr>
                        <p>{{ term.author }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block all_terms_content_3 %}
    </div>
    
    <div class="row">
        <div class="col s12 l6 offset-l1 buttons-container">
            {% if username == term.author %}
            <div class="row">
                <div class="col s4">
                    <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('edit_term', term_id=term._id) }}">Edit</a>
                </div>
                <div class="col s4">
                    <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('delete_request', term_id=term._id) }}">Delete</a>
                </div>
            {% endif %}
                <div class="col s4">
                    <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('get_all_terms', username=username) }}">Back</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
        