{% extends "base.html" %}
{% block content %}

    <div class="general-background-color border disable-scroll">
        <i id="graduation-cap-icon" class="fa fa-graduation-cap" aria-hidden="true"></i>

            <div class="header-container">
                <h2 id="login-welcome" class="header-font">Hey! Welcome back!</h2>
            </div>

            <div class="row form-box-login-register text-font">
                <form class="col s12" action="{{ url_for('valid_login') }}" method="post">
                    <div class="row">
                        <div class="input-field col s12 l6 offset-l3">
                            <input class="validate" type="email" id="email" name="email" required><br>
                            <label for="email" class="active">Email:</label><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 l6 offset-l3">
                            <input class="validate" type="password" id="password" name="password" required><br>
                            <label for="password" class="active">Password:</label><br>
                        </div>
                    </div>

                    <div class="row">
                        <div id="login-col-padding-adjustment" class="col s12 l6 offset-l3 buttons-container">
                            <div class="row">
                                <div class="col s4 l4">
                                    <a href= "{{ url_for('welcome') }}" class="waves-effect waves-light btn login-register-btns">Cancel</a>
                                </div>
                                <div class="col s4 l4">
                                    <a class="waves-effect waves-light btn login-register-btns"><input type="reset" value="Clear"></a>
                                </div>
                                <div class="col s4 l4">
                                    <a class="waves-effect waves-light btn login-register-btns"><input type="submit" value="Go!"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

    </div>

{% endblock %}