{% extends "profile.html" %}
{% block profile_content %}

<div class="general-background-color border disable-scroll">
    <i id="graduation-cap-icon" class="fa fa-graduation-cap" aria-hidden="true"></i>
    <div class="header-container">
        <h2 class="header-font page-header">Top voted</h2>
        <i class="fa fa-thumbs-o-up header-icon" aria-hidden="true"></i>
    </div>

    <div class="container content-section form-box">

        {% for term in terms %}
            
                <a class="text-font" href="{{ url_for('show_voted_term', term_id=term._id) }}">
                    <div class="term-category-button">
                        {{ term.term }}
                        <i class="fa fa-chevron-right term-category-button-icon" aria-hidden="true"></i>
                    </div>
                </a>

        {% endfor %}
        <div class="buttons-container">
            <div class="row">
                <a class="waves-effect waves-light btn buttons text-font" href="{{ url_for('profile', username=username) }}">Go back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}